ul {
    align-content: center;
    list-style: none; /*убираем маркеры списка*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    display: table; /* элемент типа таблицы имеет ширину, зависящую от содержимого */
    width: auto; /* для уверенности что ширина будет зависеть от содержимого*/
    margin: 0 auto; /* устанавливаем отступ слева и справа в auto */
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:20px; /*Добавляем отступ у пунктов меню*/
    padding-left: 20px; /*убираем левый отступ, равный 40px*/
}
#menudiv{
    position: fixed;
    height: 20px;
    width: 100%; /* ширина нужна, только если блок плавающий (float) */
    text-align: center; /* обязательно делаем выравнивание по центру */
    float: left; /* в данном примере float нужен чтобы высота блока была с учетом плавающего содержимого */
    padding: 20px 0;
    background: #6699FF;
}